{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}
[Unit]
Description=practice3_zabilskaValerie_is93
Requires=network.target
After=network.target syslog.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory= {{ app_dir }}
Environment=PORT={{ app_port }}
ExecStart=/usr/bin/java -jar {{ app_dir }}/{{ app_file }}
User={{ ansible_user_id }}
Restart=on-failure
RestartSec=10
